[submodule "electron-client"]
	path = electron-client
	url = https://github.com/renanholler/TS-SocketClient
[submodule "backend"]
	path = backend
	url = https://github.com/renanholler/TS-SocketServer
